<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">
	<resultMap type="BoardVO" id="boardmap">
		<id column="bno" property="bno" />
		<result column="TITLE" property="title" />
		<result column="WRITER" property="writer" />
		<result column="CONTENT" property="content" />
		<result column="regdate" property="regdate" />
		<result column="UPDATEDATE" property="updatedate" />
		<collection property="reply" ofType="ReplyVO">
			<id column="RNO" property="rno" />
			<result column="REPLY" property="reply" />
			<result column="REPLYER" property="replyer" />
		</collection> <!-- 1대다는 collection 1대1은 assioaction -->
	</resultMap>
	<select id="getList" resultMap="boardmap">
		SELECT A.*, B.BNO, B.REPLY,
		B.REPLYER
		FROM TBL_BOARD A
		LEFT OUTER JOIN TBL_REPLY B ON (A.BNO =
		B.BNO)
	</select>
	<select id="getListByWriter">
		SELECT *
		FROM TBL_BOARD
		<where>
			<if test="writer">
				WHERE WRITER like '%' || #{writer} || '%'
			</if>
			<if test="title">
			</if>
			<!-- '%{ }%' -->
			AND TITLE like '%' || #{title} || '%'
		</where>

	</select>

	<insert id="insert">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER)
		VALUES( #{bno},
		#{title}, #{content}, #{writer})
	</insert>

	<update id="update">
		UPDATE tbl_board SET
		TITLE = #{title},
		CONTENT =
		#{content}
		WHERE BNO = #{bno}
	</update>
	<delete id="delete" statementType="CALLABLE" parameterType="map">
		{ call PROC_BOARD_DELETE( #{bno}, #{result, mode=OUT, jdbcType=VARCHAR, javaType=string} ) } 
	</delete>
	<select id="getBoard">
		select *
		from tbl_board
		where bno = #{bno}
	</select>
	<select id="count">
		select count(*) from tbl_board
	</select>
</mapper>